Makefile
bin/.deps/
bin/.libs/
bin/Makefile
bin/fribidi
bin/fribidi-benchmark
bin/fribidi-benchmark.o
bin/fribidi-bidi-types
bin/fribidi-bidi-types.o
bin/fribidi-caprtl2utf8
bin/fribidi-caprtl2utf8.o
bin/fribidi-main.o
bin/getopt.o
bin/getopt1.o
config.h
config.log
config.status
doc/Makefile
fribidi.pc
gen.tab/.deps/
gen.tab/Makefile
lib/.deps/
lib/.libs/
lib/Makefile
lib/fribidi-arabic.lo
lib/fribidi-arabic.o
lib/fribidi-bidi-types.lo
lib/fribidi-bidi-types.o
lib/fribidi-bidi.lo
lib/fribidi-bidi.o
lib/fribidi-brackets.lo
lib/fribidi-brackets.o
lib/fribidi-char-sets-cap-rtl.lo
lib/fribidi-char-sets-cap-rtl.o
lib/fribidi-char-sets-cp1255.lo
lib/fribidi-char-sets-cp1255.o
lib/fribidi-char-sets-cp1256.lo
lib/fribidi-char-sets-cp1256.o
lib/fribidi-char-sets-iso8859-6.lo
lib/fribidi-char-sets-iso8859-6.o
lib/fribidi-char-sets-iso8859-8.lo
lib/fribidi-char-sets-iso8859-8.o
lib/fribidi-char-sets-utf8.lo
lib/fribidi-char-sets-utf8.o
lib/fribidi-char-sets.lo
lib/fribidi-char-sets.o
lib/fribidi-config.h
lib/fribidi-deprecated.lo
lib/fribidi-deprecated.o
lib/fribidi-joining-types.lo
lib/fribidi-joining-types.o
lib/fribidi-joining.lo
lib/fribidi-joining.o
lib/fribidi-mirroring.lo
lib/fribidi-mirroring.o
lib/fribidi-run.lo
lib/fribidi-run.o
lib/fribidi-shape.lo
lib/fribidi-shape.o
lib/fribidi.lo
lib/fribidi.o
lib/libfribidi.la
libtool
stamp-h1
test/Makefile
test/unicode-conformance/.deps/
test/unicode-conformance/Makefile
