.deps/
.libs/
Makefile
arm/.deps/
arm/.dirstamp
arm/.libs/
arm/arm_init.lo
arm/arm_init.o
arm/filter_neon.lo
arm/filter_neon.o
arm/filter_neon_intrinsics.lo
arm/filter_neon_intrinsics.o
arm/palette_neon_intrinsics.lo
arm/palette_neon_intrinsics.o
config.h
config.log
config.status
contrib/libtests/.deps/
contrib/libtests/.dirstamp
contrib/libtests/pngimage.o
contrib/libtests/pngstest.o
contrib/libtests/pngunknown.o
contrib/libtests/pngvalid.o
contrib/libtests/timepng.o
contrib/tools/.deps/
contrib/tools/.dirstamp
contrib/tools/png-fix-itxt.o
contrib/tools/pngcp.o
contrib/tools/pngfix.o
intel/.deps/
libpng-config
libpng.pc
libpng.vers
libpng16-config
libpng16.la
libpng16.pc
libtool
mips/.deps/
mips/.dirstamp
mips/.libs/
mips/filter_msa_intrinsics.lo
mips/filter_msa_intrinsics.o
mips/mips_init.lo
mips/mips_init.o
png-fix-itxt
png.lo
png.o
pngcp
pngerror.lo
pngerror.o
pngfix
pngget.lo
pngget.o
pngimage
pnglibconf.c
pnglibconf.h
pnglibconf.out
pngmem.lo
pngmem.o
pngpread.lo
pngpread.o
pngprefix.h
pngread.lo
pngread.o
pngrio.lo
pngrio.o
pngrtran.lo
pngrtran.o
pngrutil.lo
pngrutil.o
pngset.lo
pngset.o
pngstest
pngtest
pngtest.o
pngtrans.lo
pngtrans.o
pngunknown
pngvalid
pngwio.lo
pngwio.o
pngwrite.lo
pngwrite.o
pngwtran.lo
pngwtran.o
pngwutil.lo
pngwutil.o
powerpc/.deps/
powerpc/.dirstamp
powerpc/.libs/
powerpc/filter_vsx_intrinsics.lo
powerpc/filter_vsx_intrinsics.o
powerpc/powerpc_init.lo
powerpc/powerpc_init.o
scripts/vers.out
stamp-h1
timepng
