ACM/ADbg/Makefile
ACM/Makefile
ACM/ddk/Makefile
ACM/tinyxml/Makefile
Dll/Makefile
Makefile
config.h
config.log
config.status
doc/Makefile
doc/html/Makefile
doc/man/Makefile
dshow/Makefile
frontend/.deps/
frontend/Makefile
frontend/brhist.o
frontend/console.o
frontend/get_audio.o
frontend/lame
frontend/lame_main.o
frontend/lametime.o
frontend/main.o
frontend/parse.o
frontend/timestatus.o
include/Makefile
libmp3lame/.deps/
libmp3lame/.libs/
libmp3lame/Makefile
libmp3lame/VbrTag.lo
libmp3lame/VbrTag.o
libmp3lame/bitstream.lo
libmp3lame/bitstream.o
libmp3lame/encoder.lo
libmp3lame/encoder.o
libmp3lame/fft.lo
libmp3lame/fft.o
libmp3lame/gain_analysis.lo
libmp3lame/gain_analysis.o
libmp3lame/i386/Makefile
libmp3lame/id3tag.lo
libmp3lame/id3tag.o
libmp3lame/lame.lo
libmp3lame/lame.o
libmp3lame/libmp3lame.la
libmp3lame/mpglib_interface.lo
libmp3lame/mpglib_interface.o
libmp3lame/newmdct.lo
libmp3lame/newmdct.o
libmp3lame/presets.lo
libmp3lame/presets.o
libmp3lame/psymodel.lo
libmp3lame/psymodel.o
libmp3lame/quantize.lo
libmp3lame/quantize.o
libmp3lame/quantize_pvt.lo
libmp3lame/quantize_pvt.o
libmp3lame/reservoir.lo
libmp3lame/reservoir.o
libmp3lame/set_get.lo
libmp3lame/set_get.o
libmp3lame/tables.lo
libmp3lame/tables.o
libmp3lame/takehiro.lo
libmp3lame/takehiro.o
libmp3lame/util.lo
libmp3lame/util.o
libmp3lame/vbrquantize.lo
libmp3lame/vbrquantize.o
libmp3lame/vector/.deps/
libmp3lame/vector/Makefile
libmp3lame/version.lo
libmp3lame/version.o
libtool
mac/Makefile
macosx/English.lproj/Makefile
macosx/LAME.xcodeproj/Makefile
macosx/Makefile
misc/.deps/
misc/Makefile
mpglib/.deps/
mpglib/.libs/
mpglib/Makefile
mpglib/common.lo
mpglib/common.o
mpglib/dct64_i386.lo
mpglib/dct64_i386.o
mpglib/decode_i386.lo
mpglib/decode_i386.o
mpglib/interface.lo
mpglib/interface.o
mpglib/layer1.lo
mpglib/layer1.o
mpglib/layer2.lo
mpglib/layer2.o
mpglib/layer3.lo
mpglib/layer3.o
mpglib/libmpgdecoder.la
mpglib/tabinit.lo
mpglib/tabinit.o
stamp-h1
vc_solution/Makefile
libmp3lame/vector/.libs
libmp3lame/vector/liblamevectorroutines.la
libmp3lame/vector/xmm_quantize_sub.lo
libmp3lame/vector/xmm_quantize_sub.o
