Makefile
compare/.deps/
compare/Makefile
config.h
config.log
config.status
libass.pc
libass/.deps/
libass/.libs/
libass/Makefile
libass/ass.lo
libass/ass.o
libass/ass_bitmap.lo
libass/ass_bitmap.o
libass/ass_blur.lo
libass/ass_blur.o
libass/ass_cache.lo
libass/ass_cache.o
libass/ass_drawing.lo
libass/ass_drawing.o
libass/ass_font.lo
libass/ass_font.o
libass/ass_fontconfig.lo
libass/ass_fontconfig.o
libass/ass_fontselect.lo
libass/ass_fontselect.o
libass/ass_library.lo
libass/ass_library.o
libass/ass_outline.lo
libass/ass_outline.o
libass/ass_parse.lo
libass/ass_parse.o
libass/ass_rasterizer.lo
libass/ass_rasterizer.o
libass/ass_rasterizer_c.lo
libass/ass_rasterizer_c.o
libass/ass_render.lo
libass/ass_render.o
libass/ass_render_api.lo
libass/ass_render_api.o
libass/ass_shaper.lo
libass/ass_shaper.o
libass/ass_string.lo
libass/ass_string.o
libass/ass_strtod.lo
libass/ass_strtod.o
libass/ass_utils.lo
libass/ass_utils.o
libass/libass.la
libtool
profile/.deps/
profile/Makefile
stamp-h1
test/.deps/
test/Makefile
