Makefile
config.h
config.log
config.status
docs/Makefile
libtool
src/.deps/
src/.libs/
src/Makefile
src/harfbuzz-config.cmake
src/harfbuzz-subset.pc
src/harfbuzz.pc
src/libharfbuzz-subset.la
src/libharfbuzz.la
src/libharfbuzz_la-hb-aat-layout.lo
src/libharfbuzz_la-hb-aat-layout.o
src/libharfbuzz_la-hb-aat-map.lo
src/libharfbuzz_la-hb-aat-map.o
src/libharfbuzz_la-hb-blob.lo
src/libharfbuzz_la-hb-blob.o
src/libharfbuzz_la-hb-buffer-serialize.lo
src/libharfbuzz_la-hb-buffer-serialize.o
src/libharfbuzz_la-hb-buffer.lo
src/libharfbuzz_la-hb-buffer.o
src/libharfbuzz_la-hb-common.lo
src/libharfbuzz_la-hb-common.o
src/libharfbuzz_la-hb-draw.lo
src/libharfbuzz_la-hb-draw.o
src/libharfbuzz_la-hb-face.lo
src/libharfbuzz_la-hb-face.o
src/libharfbuzz_la-hb-fallback-shape.lo
src/libharfbuzz_la-hb-fallback-shape.o
src/libharfbuzz_la-hb-font.lo
src/libharfbuzz_la-hb-font.o
src/libharfbuzz_la-hb-map.lo
src/libharfbuzz_la-hb-map.o
src/libharfbuzz_la-hb-number.lo
src/libharfbuzz_la-hb-number.o
src/libharfbuzz_la-hb-ot-cff1-table.lo
src/libharfbuzz_la-hb-ot-cff1-table.o
src/libharfbuzz_la-hb-ot-cff2-table.lo
src/libharfbuzz_la-hb-ot-cff2-table.o
src/libharfbuzz_la-hb-ot-color.lo
src/libharfbuzz_la-hb-ot-color.o
src/libharfbuzz_la-hb-ot-face.lo
src/libharfbuzz_la-hb-ot-face.o
src/libharfbuzz_la-hb-ot-font.lo
src/libharfbuzz_la-hb-ot-font.o
src/libharfbuzz_la-hb-ot-layout.lo
src/libharfbuzz_la-hb-ot-layout.o
src/libharfbuzz_la-hb-ot-map.lo
src/libharfbuzz_la-hb-ot-map.o
src/libharfbuzz_la-hb-ot-math.lo
src/libharfbuzz_la-hb-ot-math.o
src/libharfbuzz_la-hb-ot-meta.lo
src/libharfbuzz_la-hb-ot-meta.o
src/libharfbuzz_la-hb-ot-metrics.lo
src/libharfbuzz_la-hb-ot-metrics.o
src/libharfbuzz_la-hb-ot-name.lo
src/libharfbuzz_la-hb-ot-name.o
src/libharfbuzz_la-hb-ot-shape-complex-arabic.lo
src/libharfbuzz_la-hb-ot-shape-complex-arabic.o
src/libharfbuzz_la-hb-ot-shape-complex-default.lo
src/libharfbuzz_la-hb-ot-shape-complex-default.o
src/libharfbuzz_la-hb-ot-shape-complex-hangul.lo
src/libharfbuzz_la-hb-ot-shape-complex-hangul.o
src/libharfbuzz_la-hb-ot-shape-complex-hebrew.lo
src/libharfbuzz_la-hb-ot-shape-complex-hebrew.o
src/libharfbuzz_la-hb-ot-shape-complex-indic-table.lo
src/libharfbuzz_la-hb-ot-shape-complex-indic-table.o
src/libharfbuzz_la-hb-ot-shape-complex-indic.lo
src/libharfbuzz_la-hb-ot-shape-complex-indic.o
src/libharfbuzz_la-hb-ot-shape-complex-khmer.lo
src/libharfbuzz_la-hb-ot-shape-complex-khmer.o
src/libharfbuzz_la-hb-ot-shape-complex-myanmar.lo
src/libharfbuzz_la-hb-ot-shape-complex-myanmar.o
src/libharfbuzz_la-hb-ot-shape-complex-thai.lo
src/libharfbuzz_la-hb-ot-shape-complex-thai.o
src/libharfbuzz_la-hb-ot-shape-complex-use-table.lo
src/libharfbuzz_la-hb-ot-shape-complex-use-table.o
src/libharfbuzz_la-hb-ot-shape-complex-use.lo
src/libharfbuzz_la-hb-ot-shape-complex-use.o
src/libharfbuzz_la-hb-ot-shape-complex-vowel-constraints.lo
src/libharfbuzz_la-hb-ot-shape-complex-vowel-constraints.o
src/libharfbuzz_la-hb-ot-shape-fallback.lo
src/libharfbuzz_la-hb-ot-shape-fallback.o
src/libharfbuzz_la-hb-ot-shape-normalize.lo
src/libharfbuzz_la-hb-ot-shape-normalize.o
src/libharfbuzz_la-hb-ot-shape.lo
src/libharfbuzz_la-hb-ot-shape.o
src/libharfbuzz_la-hb-ot-tag.lo
src/libharfbuzz_la-hb-ot-tag.o
src/libharfbuzz_la-hb-ot-var.lo
src/libharfbuzz_la-hb-ot-var.o
src/libharfbuzz_la-hb-set.lo
src/libharfbuzz_la-hb-set.o
src/libharfbuzz_la-hb-shape-plan.lo
src/libharfbuzz_la-hb-shape-plan.o
src/libharfbuzz_la-hb-shape.lo
src/libharfbuzz_la-hb-shape.o
src/libharfbuzz_la-hb-shaper.lo
src/libharfbuzz_la-hb-shaper.o
src/libharfbuzz_la-hb-static.lo
src/libharfbuzz_la-hb-static.o
src/libharfbuzz_la-hb-style.lo
src/libharfbuzz_la-hb-style.o
src/libharfbuzz_la-hb-ucd.lo
src/libharfbuzz_la-hb-ucd.o
src/libharfbuzz_la-hb-unicode.lo
src/libharfbuzz_la-hb-unicode.o
src/libharfbuzz_subset_la-hb-number.lo
src/libharfbuzz_subset_la-hb-number.o
src/libharfbuzz_subset_la-hb-ot-cff1-table.lo
src/libharfbuzz_subset_la-hb-ot-cff1-table.o
src/libharfbuzz_subset_la-hb-ot-cff2-table.lo
src/libharfbuzz_subset_la-hb-ot-cff2-table.o
src/libharfbuzz_subset_la-hb-static.lo
src/libharfbuzz_subset_la-hb-static.o
src/libharfbuzz_subset_la-hb-subset-cff-common.lo
src/libharfbuzz_subset_la-hb-subset-cff-common.o
src/libharfbuzz_subset_la-hb-subset-cff1.lo
src/libharfbuzz_subset_la-hb-subset-cff1.o
src/libharfbuzz_subset_la-hb-subset-cff2.lo
src/libharfbuzz_subset_la-hb-subset-cff2.o
src/libharfbuzz_subset_la-hb-subset-input.lo
src/libharfbuzz_subset_la-hb-subset-input.o
src/libharfbuzz_subset_la-hb-subset-plan.lo
src/libharfbuzz_subset_la-hb-subset-plan.o
src/libharfbuzz_subset_la-hb-subset.lo
src/libharfbuzz_subset_la-hb-subset.o
src/main
src/main-main.o
src/test
src/test-buffer-serialize
src/test-gpos-size-params
src/test-gsub-would-substitute
src/test-ot-glyphname
src/test-ot-meta
src/test-ot-name
src/test-test.o
src/test_buffer_serialize-test-buffer-serialize.o
src/test_gpos_size_params-test-gpos-size-params.o
src/test_gsub_would_substitute-test-gsub-would-substitute.o
src/test_ot_glyphname-test-ot-glyphname.o
src/test_ot_meta-test-ot-meta.o
src/test_ot_name-test-ot-name.o
stamp-h1
test/Makefile
test/api/.deps/
test/api/Makefile
test/fuzzing/.deps/
test/fuzzing/Makefile
test/shaping/Makefile
test/shaping/data/Makefile
test/shaping/data/aots/Makefile
test/shaping/data/in-house/Makefile
test/shaping/data/text-rendering-tests/Makefile
test/subset/Makefile
test/subset/data/Makefile
util/.deps/
util/Makefile
src/libharfbuzz_la-hb-ft.lo
src/libharfbuzz_la-hb-ft.o
