*.o
*.so
*.a
*.ncb
*.plg
*.aps
*.opt
*.aac
*.wav
*.lo
*.in
Makefile
*.libs
*.deps
*.la
project/msvc/.vs/
project/msvc/bin/
project/msvc/intermediate/
libfaad/win32_ver.h
config.h
config.log
config.status
libtool
stamp-h1
frontend/faad
