*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.ptx
*.ptx.c
*_g
\#*
.\#*
/.config
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/coverage.info
/avversion.h
/lcov/
/src
/mapfile
/tools/python/__pycache__/
doc/avoptions_codec.texi
doc/avoptions_format.texi
doc/config.texi
doc/developer.html
doc/faq.html
doc/fate.html
doc/fate.txt
doc/ffmpeg-all.1
doc/ffmpeg-all.html
doc/ffmpeg-all.pod
doc/ffmpeg-bitstream-filters.1
doc/ffmpeg-bitstream-filters.html
doc/ffmpeg-bitstream-filters.pod
doc/ffmpeg-codecs.1
doc/ffmpeg-codecs.html
doc/ffmpeg-codecs.pod
doc/ffmpeg-filters.1
doc/ffmpeg-filters.html
doc/ffmpeg-filters.pod
doc/ffmpeg-formats.1
doc/ffmpeg-formats.html
doc/ffmpeg-formats.pod
doc/ffmpeg-protocols.1
doc/ffmpeg-protocols.html
doc/ffmpeg-protocols.pod
doc/ffmpeg-resampler.1
doc/ffmpeg-resampler.html
doc/ffmpeg-resampler.pod
doc/ffmpeg-scaler.1
doc/ffmpeg-scaler.html
doc/ffmpeg-scaler.pod
doc/ffmpeg-utils.1
doc/ffmpeg-utils.html
doc/ffmpeg-utils.pod
doc/ffmpeg.1
doc/ffmpeg.html
doc/ffmpeg.pod
doc/ffprobe-all.1
doc/ffprobe-all.html
doc/ffprobe-all.pod
doc/ffprobe.1
doc/ffprobe.html
doc/ffprobe.pod
doc/general.html
doc/git-howto.html
doc/libavcodec.3
doc/libavcodec.html
doc/libavcodec.pod
doc/libavfilter.3
doc/libavfilter.html
doc/libavfilter.pod
doc/libavformat.3
doc/libavformat.html
doc/libavformat.pod
doc/libavutil.3
doc/libavutil.html
doc/libavutil.pod
doc/libswresample.3
doc/libswresample.html
doc/libswresample.pod
doc/libswscale.3
doc/libswscale.html
doc/libswscale.pod
doc/mailing-list-faq.html
doc/nut.html
doc/platform.html
doc/print_options
ffbuild/.config
ffbuild/config.fate
ffbuild/config.log
ffbuild/config.mak
ffbuild/config.sh
libavcodec/bsf_list.c
libavcodec/codec_list.c
libavcodec/parser_list.c
libavdevice/indev_list.c
libavdevice/outdev_list.c
libavfilter/filter_list.c
libavformat/demuxer_list.c
libavformat/muxer_list.c
libavformat/protocol_list.c
libavutil/avconfig.h
libavutil/ffversion.h
